{% extends 'base.html' %} {% block "base.html" %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>lorem how_many_paragraphs</h2>
      <span>Author: Michael Osas</span>
      <div>
        <small>12 mins ago</small>
      </div>
      <img
        src="https://media.istockphoto.com/photos/composite-of-portraits-with-varying-shades-of-skin-picture-id1249641728?b=1&k=20&m=1249641728&s=170667a&w=0&h=U_sY4H0AyKDkpn3pT98jXf8RR_vBzYFdRHJbvQxzgLE="
        alt=""
        width="40%"
      />
      <div>
        <p>
          lorem If you find IntelliSense has stopped working, the language
          service may not be running. Try restarting VS Code and this should
          solve the issue. If you are still missing IntelliSense features after
          installing a language extension, open an issue in the repository of
          the language extension. Tip: For configuring and troubleshooting
          JavaScript IntelliSense, see the JavaScript documentation. A
          particular language extension may not support all the VS Code
          IntelliSense features. Review the extension's README to find out what
          is supported. If you think there are issues with a language extension,
          you can usually find the issue repository for an extension through the
          VS Code Marketplace. Navigate to the extension's Details page and
          select the Support link. Next steps#
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth item</li>
      </ul>
    </div>
  </div>
</div>
{% endblock "base.html" %}
